@import "reset";
@import "gridlex/gridlex";
@import "hamburgers/hamburgers";
@import "media-queries";


//// Fonts

@font-face {
	font-family: Inter-UI-Regular;
	src:
		url('/fonts/Inter-UI-Regular.woff2') format('woff2'),
		url('/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
	font-family: Inter-UI-Medium;
	src:
		url('/fonts/Inter-UI-Medium.woff2') format('woff2'),
		url('/fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
	font-family: Inter-UI-Bold;
	src:
		url('/fonts/Inter-UI-Bold.woff2') format('woff2'),
		url('/fonts/Inter-UI-Bold.woff') format('woff');
}

@font-face {
	font-family: bold;
	src:
		url('/fonts/bold.woff') format('woff');
}
// @font-face {
// 	font-family:  Sofia;
// 	src:
// 		url('/fonts/so.woff') format('woff');
// }

@font-face {
	font-family: sailec;
	src:
		url('/fonts/sailec-bold.woff') format('woff');
}


/// Mixins


//// Base
* {
	box-sizing: border-box;
	//font-family: -apple-system-headline, BlinkMacSystemFont, 'Helvetica Neue', 'Inter-UI-Medium', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	//Z¡font-family: "Norms", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-family: 'bold', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html, body {
	font-size: 16px;
	margin: 0;
	padding: 0;

}

html {
	overflow: auto;
}

body {
	
	}

textarea, input, button { outline: none; }

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0 100px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: visible;
	&--overlay {
		width: 100vw;
		top: 100vh;
		height: 100vh;
		// opacity:0;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		z-index: 10;
		// opacity: 0;
		transition: opacity .3s cubic-bezier(1, 0.78, 1, 1);
	}
	&--projects {
		max-width: 1640px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0;
	}
}

body.navigation-open {
	overflow: hidden;
	.wrapper--overlay { 
		 opacity: 1;
		 top:0;	
		}
}

//// Preloader

body.preloader-site {
    overflow: hidden;
    .hamburger, .scroll-down {
    	display:none;
    }
}


.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
  & .path {
    stroke: black;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}



//// Utils

.project.most-visible {

	.project__image {
		opacity: 1;
	} 
 
	.up {
		position: relative;
		opacity: 1;
		&--1 {
			transform: translateY(-10vh);
		}
		&--2 {
			transform: translateY(-20vh);
		}
		&--3 {
			transform: translateY(-30vh);
		}
		&--4 {
			transform: translateY(40vh);
		}
		&--5 {
			transform: translateY(50vh);
		}
		&--6 {
			transform: translateY(60vh);
		}
		&--65 {
			transform: translateY(65vh);
		}
		&--7 {
			transform: translateY(70vh);
		}
		&--8 {
			transform: translateY(80vh);
		}
	}
}
	

.level {
	&--1 {
		z-index: 20 !important;
	}
	&--2 {
		z-index: 15 !important;
	}
	&--3 {
		z-index: 10 !important;
	}
	&--4 {
		z-index: 5 !important;
	}
}

.level-minus {
	z-index: -999 !important;
}


.easeBox { transform: translateY(var(--ty)); }
.rotateBox { transform: rotate(var(--r)); }
.fadeBox { opacity: var(--o); }


//// Main

#header {
	height: 100vh;
	position: relative;
	justify-content: center;
	display: flex;
	margin-bottom: -25vh;

.scroll-down {
	width: 30px;
	height: 45px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, .1);;
	position: fixed;
	top: 80vh;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}

	&:before {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: 12px;
		left: calc(50% - 4px);
		background-color: #000;
		animation: mouse 4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	  	}
	}
}

@keyframes mouse {
	0%, 65%, 100% {
		opacity: 0
	}
	10%, 40% {
		opacity: 1
	}
	0% {
		transform: translateY(5px) scale(.7)
	}
	5% {
		transform: scale(.7)
	}
	15%, 100% {
		transform: scale(1)
	}
	45%, 65%{
		transform: translateY(15px) scale(.7)
	}
}


// #header.most-visible .scroll-down {
// 	display: flex;
// }
// @keyframes scroll {
//    0% {
//     top: 0%;
//     //opacity: 1;
//   }

//   100% {

//     top: 100%;
//     //sopacity: 0;
//   }
// }


.project {
	height: 180vh;
	position: relative;
	padding-top: 65vh;

	// &:nth-child(even) {
	// 	background-color: rgba(255, 0, 0, .1);
	// }
	// &:nth-child(odd) {
	// 	background-color: rgba(0, 0, 255, .1);
	// }





	&__nav {
		position: fixed;
		 z-index: 90;
		right: 50px;
		bottom: 50px;
		cursor: pointer;
		display: none;
		-webkit-transform: translate3d(0, 0, 0);
		transform : translate3d(0, 0, 0);
		
		a {
			display: block;
			float: right;
			line-height: 0.4;
			clear: both;
			text-decoration: none;
			color: black;
			font-size: 14px;
			width: 18px;
			padding: 15px 0 15px 130px;
			text-align: right;
			cursor: pointer;
			position: relative;
			span {
				position: absolute;
				right: 0;
				cursor: pointer;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				background-color: transparent;
				width: 120px;
				.project__nav__line {
					opacity: 0;
				}
				.project__nav__name {
					opacity: 1;
				}			
			}
		}
		&__line {
			opacity: 1;
			height: 2px;
			width: 2px;
			background: black;
		}

		&__name {
			font-family: "Inter-UI-Regular";
			opacity: 0;
			line-height:0;
			transition: all .5s ease;

		}
	}

	&__title {
		display: none;
	}
	&__image {
		position: absolute;
		//opacity: .8;
		z-index: 10;
		width: 100%;
		transition: all .5s cubic-bezier(0, 0, 0.18, 1);
		margin-top: 100px;
		img {
			width: 100%;
            -webkit-filter: drop-shadow(0px 4px 5px rgba(78, 78, 78, 0.1));
    		filter: drop-shadow(0px 4px 5px rgba(78, 78, 78, 0.1));
			&.move {
				will-change: transform;
			}
		}
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;		
		}
	}
	&__description {
		display: none;
		position: fixed;
		width: 260px;
		left: 50px;
		bottom: 50px;
		z-index: 70;
		-webkit-transform: translate3d(0, 0, 0);
		transform : translate3d(0, 0, 0);
		h4, span {
			font-size: 14px;
			font-weight: unset;
			letter-spacing: 0.52px;
			line-height: 18px;
			font-family: "InterUI-Regular";
			display: inline;
			padding: 4px 0;
			background-color: #FFF;
			box-shadow: 6px 0 0 #FFF, 6px 0 0 #FFF;
		    box-decoration-break: clone;

		}
		h4 {
			margin-bottom: 10px;
			font-family: "InterUI-Bold";
			margin-bottom: -2px;
			font-family: "InterUI-Bold";
			padding: 8px 0;
			/* margin-top: -10px; */
			display: inline-block;
		}
	}
	&.most-visible .project__description {
		display: block;
	}
}



.title {
	display: flex;
	align-items: center; 
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9;	
	transform: translate3d(0, 0, 0);
}  

.title--alternative {
	font-size: 65px;
	line-height: 1;
	display: flex;
	align-items: center; 
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -10;	
}  


//// About

.overlay__toggle {
	position: fixed;
	z-index: 20;
	top: 20px;
	right: 20px;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
} 

.about-me {
	max-width: 700px;

	h2, p {
		display: block;
	}
	h2 {
		font-size: 72px;
		margin-bottom: 44px;
	}
	p {
		font-size: 30px
	}
}

