@import "reset";
@import "gridlex/gridlex";
@import "hamburgers/hamburgers";
@import "media-queries";

/// Mixins


//// Base

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

textarea, input, button { outline: none; }

div {
  box-sizing: border-box;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0 100px;
	box-sizing: border-box;
	position: relative;
	overflow: visible;
	&--main {
		//transform: translateX(0);
	}
	&--overlay {
		width: 100vw;
		height: 100vh;
		position: fixed;
		background:red;
		transform: translateX(100%);
		transition: transform .3s ease-in;
	}
	&--projects {
		max-width: 1600px;
	}
}


body.navigation-open {
	.wrapper--main { 
		transform: translateX(-100%);
	}
	.wrapper--overlay { 
		transform: translateX(0);

	}
}

//// Utils

.up {
	position: relative;
	&--bottom {
		z-index: 5 !important;
	}
	&--5 {
		transform: translateY(-30vw);
	}
}

// .reveal {
// 	opacity: 0;
// 	transform: translateY(0);
// 	transition: transform 1s ease-out, opacity 1s ease-out;
// 	&_visible {
// 			opacity: 1;
// 		transform: translateY(-10vw);
// 	}
// }


//// Main

#header {
	height: 100vh;
}

.project {
	padding: 50vh 0 20vh;
	position: relative;
	&__title {
		display: none;
	}
	&__image {
		position: relative;
		z-index: 10;
		img {
			width: 100%;
		}
}
	&__description {
		display: none;
		position: fixed;
		width: 260px;
		left: 50px;
		bottom: 50px;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.52px;
		line-height: 19px;
		font-family: "InterUI-Regular";
		z-index: -10;
	}
	&.most-visible .project__description {
		display: block;
	}
}


.title {
	display: flex;
	align-items: center; 
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -10;
}  

//// Navigation


.overlay {

	&__toggle {
		position: fixed;
		z-index: 20;
		top: 20px;
		right: 20px;
	}
} 

