@import "reset";
@import "media-queries";
@import "gridlex/gridlex.scss";




//// Base

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


//// Main

#header {
	height: 100vh;
}

.wrapper--projects {
	max-width: 1200px;
	margin: 0 auto;
}

.project {
	padding: 50vh 0 20vh;
	&__title {
		display: none;
	}
	&__image {
		z-index: 10;
		img {
			width: 100%;
		}
}
	&__description {
		display: none;
		position: fixed;
		width: 260px;
		left: 50px;
		bottom: 50px;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.52px;
		line-height: 19px;
		font-family: "InterUI-Regular";
	}
	&.most-visible .project__description {
		display: block;
	}
}


.title {
	display: flex;
	align-items: center; 
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}  

/*.b-canvas {
	margin-top: -50px;
	width: 100% !important;
	height: auto !important;
  	max-width: 1255px;
}*/
